	* {
			margin: 0;
			padding: 0;
		}
		body {
			color: #fff;
			font-size: 16px;
		}

		ul,p,h1,h2,h3,h4,h5,h6 {
			padding: 0;
			margin: 0;
		}

		 .home {
			padding:60px 0 50px;
			background: #673AB7;
  		}

  		 .about {
			padding:60px 0 50px;
			background-color: #009688;
  		}

  		 .contact {
			padding:60px 0 50px;
			background-color: #17a2b8;
  		}

  		header {
  			background: #fff;
  			position: fixed;
  			top: 0;
  			left: 0;
  			width: 100%;
  			padding:20px 0;
  		}

  		ul li {
  			list-style: none;
  			display: inline-block;
  		}

  		ul li a {
  			color:#495057;
  			padding: 5px 15px;
  		}

  		ul li a:hover {
  			color: #495057;
  		}

  		.main {
  			margin-top:64px;
  			text-align: center;
  			height: 70vh;
  		}